# Node.js
node_modules/

# Logs
*.log

# Diretórios de cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente do Docker
*.env
docker-compose.override.yml

# Arquivos de banco de dados
*.sql
*.sqlite

# Diretórios temporários
tmp/
temp/

# Arquivos de configuração específicos do IDE/Editor
.vscode/
.idea/
.DS_Store

# Dependências e builds do Docker
**/node_modules/
**/dist/

# Arquivos de compilação do Node.js
npm-debug.log
